[2014-04-21 18:50] mattcreager opened #1 "Preview Feature Set"
This issue will be used to track features we feel should be available in the **first iteration** of Ouija:
- [x] Real-time messaging
- [x] Annotations
- [x] O-Auth (Twitter)

[2014-04-22 17:06] mattcreager opened #2 "Comment data structure"
The **_identifier**_ will be the Ghost post ID or failing that the post slug.
-  Room: `post_1` | post + post identifier
-  Key: `sections/section_1/timestamp` | sections/section + section index
-  Status: `[ 'Approved',  'Pending' ]`

[code]

[2014-04-24 01:25] mattcreager opened #3 "Comments auto-scroll bottom"
Might as well start the pre-alpha feature issues right?

Sections with enough comments to display the scroll-bar should stick to the bottom while the user is commenting.

[2014-04-24 01:56] mattcreager opened #4 "Edit distance"
We're indexing the sections by position.. Not a good approach, minor edits, a new position, boom, comments all over the place.

Perhaps we could compare the text, if it's identical. Party.  Otherwise, Levenshtein distance algorithm ftw.

[2014-04-24 14:40] mattcreager opened #5 "Valid annotation targets"
We're only indexing paragraph elements, we should compose a list of every element worthy of a Ouija commenting section.

[2014-04-24 20:27] colinmacdonald commented on #3
This is in

[2014-04-24 20:27] #3 closed, assigned to nobody

[2014-04-24 20:31] colinmacdonald opened #6 "Default avatar image if avatarUrl is unavailable"
Need a default image if the cached user's `avatarUrl` cannot be reached. If the user changes their avatar on twitter but never comes back to the blog the cached avatar will eventually become unavailable.

[2014-04-25 20:12] colinmacdonald opened #7 "Article in center with comment block visible"
if you open say the first comment block the article pushes over as expected.
if you then open a different comment block without closing the first one, the article gets pulled back to the center.

@ntassone

[2014-04-28 16:07] ntassone opened #8 "Add responsive styling / mobile experience"
Comments are not yet optimized for mobile use.

[2014-04-28 18:54] ntassone opened #9 "Add Auth instructions to README"
Users of the plugin will need to turn on the Twitter Auth service.

[2014-04-28 19:56] ntassone commented on #7
I think this happening because of the body click dismissal action. You're also clicking the body when you click another comment thread's trigger which removes the active class from `.post-ouija`

@colinmacdonald @mattcreager

[2014-04-30 17:30] #2 closed, assigned to nobody

[2014-04-30 17:32] #1 closed, assigned to nobody

[2014-04-30 17:33] #7 closed, assigned to nobody

[2014-04-30 17:34] mattcreager opened #14 "Add gulp production build task"

[2014-04-30 17:48] mattcreager opened #15 "Test load-bearing methods"
We'll need to determine which parts of the code base we believe are reasonably 'stable' and begin improving (easy to improve when you're starting at 0, right?) test coverage.

The model validation/sanitization should likely be our first concern.

[2014-04-30 18:48] #14 closed, assigned to nobody

[2014-04-30 18:52] mattcreager opened #17 "*"

[2014-04-30 18:53] mattcreager opened #18 "Add ACL template"
This should be dropped in `/config` along with `ouija.json`

[2014-04-30 20:45] mattcreager opened #20 "Throw pretty error if `config/ouija.json` not found"
Gross:
[code]

[2014-05-01 12:57] colinmacdonald commented on #18
done: https://github.com/goinstant/ouija/blob/master/config/acl.json

[2014-05-01 12:57] #18 closed, assigned to colinmacdonald

[2014-05-01 13:23] #6 closed, assigned to nobody

[2014-05-01 16:33] #17 closed, assigned to nobody

[2014-05-01 18:25] ntassone opened #22 "Better theming"
We're aiming to make Ouija work across as many themes as possible. Right now the best option to customize Ouija's look is to edit the main `.scss` file. Let's take advantage of the `.scss` to make Ouija flexible and ultra customizable.

This will also require a better CSS reset for Ouija to cancel out unwanted styles.

[2014-05-01 19:14] jonwgeorge opened #23 "Ouija not loading"
I know Ouija is not quite ready for production use, but I like to play with code. I used the quick install guide to get Ouija up and running but it doesn't seem to do anything on my ghost install. I see it connecting in the Javascript Console, but no elements are added to my page.

Did I miss something?

Edit: You can see my blog [here](http://www.jonwgeorge.com).

[2014-05-01 19:17] strues commented on #23
Same thing here, but I also tried with the developer install. It definitely is trying to work, but like jon said, nothing happens past the initial connect

[2014-05-01 19:28] colinmacdonald commented on #23
jonwgeorge, it looks like an old build is cached on our CDN. When I open a post on your blog (http://www.jonwgeorge.com/what-is-open-source-and-why-should-you-care/) I see the error from the cached file.

If you append `?v=1` to the end of `http://cdn.goinstant.net/external/ouija/latest/ouija.min.js` you should bypass the cache (`https://cdn.goinstant.net/external/ouija/latest/ouija.min.js?v=1`).

[2014-05-01 19:28] colinmacdonald commented on #23
strues, this same thing may apply to you as well.

[2014-05-01 19:32] strues commented on #23
I'll give it a shot using that instead of the file from the repo here. My blog is at https://www.himynameissteve.com/

[2014-05-01 19:34] jonwgeorge commented on #23
Doesn't look like that solved the problem for me. I wasn't aware my content was cached. I'm on Ghost(Pro) so that probably explains it.

[2014-05-01 19:35] jonwgeorge commented on #23
As a side note, when I head to my GoInstant dashboard, I'm seeing data being populated back in the form of users for each post.

[2014-05-01 19:37] mattcreager commented on #23
@colinmacdonald it's possible in @jonwgeorge case that his theme is atypical... It looks like the content on his blog is in a sub-section with class `post-excerpt`.  I wonder if Ouija is just failing to find his content?

[2014-05-01 19:38] colinmacdonald commented on #23
The themes being used by both jonwgeorge and strues are not supported by Ouija ATM :(.

[2014-05-01 19:40] jonwgeorge commented on #23
@colinmacdonald @mattcreager Since mine is a custom theme, what modifications should I make to make it compatible? Or can I help in anyway with making Ouija compatible with my type of theme?

[2014-05-01 19:43] strues commented on #23
I made the switch to Casper and it appears that everything is working as intended now. I'm wondering the same thing as @jonwgeorge I dont mind messing around and breaking a few things on my end as the blog is still being developed

[2014-05-01 19:44] mattcreager commented on #23
@strues, @jonwgeorge what if we offered a simple configuration option you drop into `config/ouija.json` that provides a specific content destination id? aka: `#my-article-content` ?

[2014-05-01 19:47] jonwgeorge commented on #23
@mattcreager that could definitely work, at least in my case, it should just be looking for a section tag with the id of 'articles'.

[2014-05-01 19:48] jonwgeorge commented on #23
@mattcreager that would mean I would have to host those files myself, rather than loading all from your CDN correct?

[2014-05-01 19:49] mattcreager commented on #23
@jonwgeorge nope, we'll push a fix to the CDN too!

Ouija's first fix, how exciting :)

[2014-05-01 19:50] jonwgeorge commented on #23
@mattcreager haha! If I can be of any assistance in the process, just let me know. I'm excited to see what ya'll do with Ghost and Ouija.

[2014-05-01 19:52] mattcreager commented on #23
@jonwgeorge  So far: just break things.

@colinmacdonald is in the process of adding that option override right now.  Long term, we'll need to make finding the content auto-magically more magical.

[2014-05-01 19:52] colinmacdonald commented on #23
@jonwgeorge is the theme you're using publicly available?

[2014-05-01 19:53] jonwgeorge commented on #23
@colinmacdonald nope. but give me a few minutes and I'll put it up for you.

[2014-05-01 19:56] jonwgeorge commented on #23
@colinmacdonald here you go https://github.com/jonwgeorge/ghost-theme

[2014-05-01 19:59] colinmacdonald commented on #23
Thanks!

[2014-05-01 20:46] jonwgeorge commented on #23
@colinmacdonald Please let me know when I can test this change.

[2014-05-01 21:03] colinmacdonald commented on #23
@jonwgeorge You should be able to test out the new `ouija_article_content` option using `v0.1.1`.

Under `window.ouija_identifier` in default.hbs put `window.ouija_article_content = '.post-excerpt';`.

This will let Ouija know where to put the comment blocks. There will still be some styling kinks that need to worked out (as you will see). @ntassone will be able to give some insight into what's ne

[2014-05-01 21:03] ntassone commented on #23
@jonwgeorge since your blog is a custom theme, you'll require some custom css to get Ouija exactly how you want it. I'm working on making a better reset for Ouija that will allow for more consistency across more types of themes. See #22.

I checked out your blog repo and was able to get Ouija working with a few lines of custom CSS I put in `style.css`. Wherever you end up putting the custom CSS ju

[2014-05-01 21:14] jonwgeorge commented on #23
@colinmacdonald So will I need to download <code>v0.1.1</code> or can I pull it from the CDN?

@ntassone thank you!

[2014-05-01 21:15] mattcreager commented on #23
This is why the world loves @ntassone :+1:

[2014-05-01 21:21] colinmacdonald commented on #23
@jonwgeorge you can pull it from the cdn, https://cdn.goinstant.net/external/ouija/v0.1.1/ouija.min.js and ouija.min.css

[2014-05-01 21:24] jonwgeorge commented on #23
Awesome!! You guys are great. Time to start playing around.

[2014-05-01 22:15] jonwgeorge opened #26 "Sections with comments should stay visible"
This could be optional, but I'd like to see the icons remain visible when a section has comments. Instead of showing up when moused over.

[2014-05-01 22:23] byosko commented on #26
Maybe a simple configuration option? @mattcreager @colinmacdonald

[2014-05-01 22:23] hkalant commented on #8
That's true. It ruins my blog's responsive layout. You can't expect from a preview version to be fully optimized for mobile devices though. They are just at the beginning. Take a look: http://ghost.hkalant.bitnamiapp.com/

[2014-05-01 22:35] colinmacdonald commented on #26
Makes sense to me as an option.

[2014-05-01 22:36] ntassone commented on #8
Hey Harry, I'm a collaborator on the project :)

This issue is more of a todo than an issue. 
—
Sent from my phone

On Thu, May 1, 2014 at 7:23 PM, Harry Kalantzis notifications@github.com
wrote:

[2014-05-02 02:28] mattcreager commented on #26
We actually did have this feature, the sass still includes it... I may have forgotten to implement it during the move to React :) Woops.

[2014-05-02 08:24] GoOz opened #27 "Interrupted connection with GoInstant"
So, i think, i did everything by the book to install Ouija and creating the GoInstant app but i still have this error everytime i refresh :

(it's a translation, i got my error message in french :p)

FYI, for now i'm working locally and added the authorization for localhost:2368.
Dunno if i did something wrong or whatever but here it is. Do you happen to know why i got this error?

[2014-05-02 09:07] GoOz commented on #27
Ok, apparently it doesn't prevent the script from working. But It just doesn't work with my actual theme.
I switched to Casper and saw it, working and everything. It wasn't obvious though. If you don't know that you can comment, you wouldn't be able to discover by yourself that you can. :/

Anyway, what can i do to make it work with my theme ?

[2014-05-02 11:21] colinmacdonald commented on #27
Getting Ouija compatible with themes is one of our main goals with this preview. Could you make your theme public so we can debug why the comments are not showing up?

[2014-05-02 11:23] colinmacdonald commented on #27
Also, good point about the comment blocks maybe being a bit too subtle for people to notice.

[2014-05-02 12:28] GoOz commented on #27
@colinmacdonald Actually the theme i use is a fork of the theme [Uno](https://github.com/daleanthony/uno) so you already can check it out.

[2014-05-02 13:01] colinmacdonald commented on #27
Perfect. I'll try it out and get back to you.

[2014-05-02 13:21] GoOz commented on #27
Thanks :)

[2014-05-02 18:24] ntassone opened #28 "Ouija closes on click"
To reproduce, open a Ouija comment block and click a different trigger. Ouija should stay open and move to the triggered element instead of closing Ouija altogether.

[2014-05-02 20:25] mattbierner opened #31 "Configurable Content Sections Selector"
I believe it is currently hardcoded to `'p, ol'` in `_parseContent`. Not sure if there is anything that would prevent supporting other elements.

[2014-05-02 20:38] ntassone commented on #31
+1, Would love to be able to annotate `blockquote`, `img`, etc

[2014-05-03 19:30] #31 closed, assigned to nobody

[2014-05-03 22:17] ntassone commented on #27
Hey @GoOz! That PR will help Ouija work with **uno**. Let me know if you see any issues after it's merged.

[2014-05-03 22:40] #22 closed, assigned to nobody

[2014-05-03 23:01] jonwgeorge opened #33 "Authentication button invisible but clickable when Ouija is closed"
The "Sign in with Twitter" button is invisible but clickable when Ouija is closed and there are zero comments on that section.

Not sure if this is just because I'm using custom CSS to make Ouija work with my theme, but to duplicate:
- [visit this post on my blog](http://www.jonwgeorge.com/what-is-open-source-and-why-should-you-care/)
- go to the second paragraph starting with "Open-source doesn't

[2014-05-03 23:11] colinmacdonald commented on #33
@ntassone I see this happening on casper with only default styles too. Can we `display: none` when the comments are not visible to prevent this?

[2014-05-03 23:15] ntassone commented on #33
Yeah, `visibility: hidden` will probably work better and not interfere with the transition like `display: none` would. Or maybe pushing the z-index down. Will test and make a PR.

[2014-05-04 22:37] #33 closed, assigned to nobody

[2014-05-05 08:00] GoOz commented on #27
Well i pulled but still nothing. When i take a look at the DOM, i don't have any ouija section tag within content elements.
It must be related to the fact that in your JS, the var articleContent is fixed to '.post-content' and there is no 'post-content' class on any element in the **Uno** theme.

Do you have any idea of a good workaround ? i don't know if i should overwrite the var, or add this cl

[2014-05-05 09:53] GoOz commented on #26
+1 on this :)

[2014-05-05 11:43] colinmacdonald commented on #27
Ah yes, we forgot to mention the option for overriding the article_content selector. In your default.hbs under `window.ouija_identifier;` put `window.ouija_article_content = 'section.post';`. Sorry about that.

[2014-05-05 12:35] GoOz commented on #27
Ah yes, much better, thanks.
But on lower resolutions (e.g. 1280px wide), the "push" from the right of 18% is not enough. The ouija block is half hidden.
See screenshot.
![welcome_to_ghost_-_2014-05-05_14 23 33](https://cloud.githubusercontent.com/assets/1280069/2877648/535d525c-d450-11e3-9ae6-5ca9950e9252.png)

But maybe i should open another issue…
Meanwhile, i'll try to figure out a solution on

[2014-05-05 12:40] colinmacdonald commented on #27
Realistically, Ouija won't be able to support every theme out there right out of the box. Some custom CSS would be needed to make everything look correct.

[2014-05-05 12:43] halfdan commented on #27
Definitely. It would be good to have a set of predefined styles that you can configure (or automatically get it detected similar to Disqus auto-styling?). The medium-style comments really only work with a good right margin.

[2014-05-05 12:44] ntassone commented on #27
If you do the developer setup for Ouija, you'll have access to the precompiled SCSS file that allows you to make modifications to those kind of values. If you just do the quick install, you can include styles (after `ouija.css`) to overwrite any Ouija defined properties.

[2014-05-05 13:28] GoOz commented on #27
I'm sure it's not easy to make this work in every situation but there's something i don't get.

You do know the width of the Ouija comment block (**300px**) but you set the right position to **18%** (why 18% btw?). Why not set the position to the witdh of the ouija block, the only non-relative, fixed width you know for sure?
Honest question. :)

[2014-05-05 13:41] ntassone commented on #27
The 18% value was chosen arbitrarily because it worked on several different themes as a good starting point. Setting the offset to the width Ouija pushes the content off on smaller screens. It does make sense to make the offset related to the width of Ouija, though. This also works well on centered posts as it centers the post with comments open.

PR I've opened to show this: https://github.com/go

[2014-05-05 20:29] colinmacdonald opened #36 "Pass ouija options as an object"
Ouija options are building up fast:

[code]

Should be able to set these options as an object instead of individual vars on the window.

[2014-05-05 20:42] jonwgeorge commented on #36
Would it not be easier to do this instead?

<pre>
var Options = {"array":[
    {"identifier": ""},
    {"connect_url": ""},
    {"article_content": ""},
    {"section_elements": ""},
    {"hide_controls": ""}
]};
</pre>

[2014-05-05 20:45] halfdan commented on #36
@jonwgeorge Not like that.

More like:

[code]

[2014-05-05 20:45] jonwgeorge commented on #36
@halfdan Yeah, that looks better. I suck at Javascript haha.

[2014-05-05 21:50] jonwgeorge opened #37 "Ouija loading on pages since v0.1.2"
Looks like after switching to using <code>v0.1.2</code> Ouija is now loading on pages as well as posts. I don't remember this happening before, and it's more likely an issue with Ghost and handlebars if anything.

[2014-05-05 21:51] halfdan commented on #37
Example?

[2014-05-05 21:52] jonwgeorge commented on #37
@halfdan I'm using a custom theme, so that's likely the cause: http://www.jonwgeorge.com/about/

[2014-05-05 21:55] jonwgeorge commented on #36
Also, now that you guys have added the ability to comment on images, which is a nice feature, how do I go about disabling it? No need to comment on images for me at least.

[2014-05-05 21:55] halfdan commented on #37
That is technically not a bug with Ouija nor Ghost. You have a static page which essentially is just a post that doesn’t appear in the normal post list. If you want to prevent Ouija from showing up you’d need to adjust the snippet from Ouija:

[code]

[2014-05-05 21:57] jonwgeorge commented on #37
I didn't realize that was available in Ghost (or handlebars). Guess I didn't read the docs that far.

[2014-05-05 22:00] jonwgeorge commented on #37
Actually, it seems that doesn't work.
![screen shot 2014-05-05 at 4 59 34 pm](https://cloud.githubusercontent.com/assets/2319568/2883823/a04b17ac-d4a0-11e3-8ae5-bf2f2a89f4d7.png)

[2014-05-05 22:22] halfdan commented on #37
Oops. That’s supposed to read `{{#unless ..}}`

[2014-05-05 22:26] jonwgeorge commented on #37
<s>That causes Ouija not to load at all.</s>

Nevermind. I misspelled page...

[2014-05-06 08:37] GoOz commented on #27
Well i'm closing this one. Ouija now works fine with my theme which was the original issue. The remaining styling issue is just with small resolutions, so not related.

[2014-05-06 08:37] #27 closed, assigned to nobody

[2014-05-06 12:43] colinmacdonald commented on #36
@jonwgeorge Using the section elements option: `window.ouija_section_elements = 'p, ol';`. The default is: `'p, ol, :has(img)'`

[2014-05-06 18:07] colinmacdonald commented on #37
@jonwgeorge Can I close this as a non-issue then?

[2014-05-06 18:13] colinmacdonald opened #39 "OAuth provider(s) option"
Allow Ouija to be configured with different OAuth providers (twitter, github, etc.).

List of auth providers available using GoInstant's auth api: https://developers.goinstant.com/v1/auth_api/providers.html

The option part is easy enough but would need styles for each provider. We may also want a way to have multiple providers configured, would need to think about what that would look like in the

[2014-05-06 18:14] halfdan commented on #39
Dibs.

I think it would be great to replace the rather large Twitter button with simpler font-icons (e.g. http://shoestrap.org/downloads/elusive-icons-webfont/)

[2014-05-06 18:17] colinmacdonald commented on #39
Good idea, can pretty easily fit up to 5 icons in there no problem.

[2014-05-06 18:18] jonwgeorge commented on #37
Yep. Just fat fingers on my end haha.

[2014-05-06 18:18] #37 closed, assigned to nobody

[2014-05-06 18:25] #28 closed, assigned to nobody

[2014-05-06 19:19] colinmacdonald opened #40 "Expand all comment blocks button"
Idea from a comment on: http://www.producthunt.co/posts/ouija

[2014-05-07 12:51] #9 closed, assigned to nobody

[2014-05-08 14:49] #26 closed, assigned to nobody

[2014-05-08 16:29] HoddzDJ opened #44 "Can't Clone"
Hey guys.

I'm pretty new to all this GitHub stuff and the like. I think I have done it right, but I can't seem to b able to clone the repo.

Here is my output from Terminal...

[code]

I am running Mac OS X 10.9.3.

Regards, Ben Hodder.

[2014-05-08 16:31] halfdan commented on #44
@HoddzDJ You need to use the https URL (`https://github.com/goinstant/ouija.git`). Using the one you used only works when you have push access to the repository.

Note that for just using Ouija you don't need to clone the repository.

[2014-05-08 16:37] HoddzDJ commented on #44
@halfdan Managed to get it cloned, and moved it into content/apps/ouija. Added the stylesheet and other bit to the default.hbs but it doesn't seem to change anything at all.

Am I missing something?

[2014-05-08 16:38] halfdan commented on #44
@HoddzDJ As I said - you don't need to clone the repository if you only want to use it. Follow the setup guide: https://github.com/goinstant/ouija#quick-install

[2014-05-08 16:40] HoddzDJ commented on #44
@halfdan So I just add those two bits of code to the default.hbs and away I go? If that's right, it doesn't work like it does on the Ouija Demo blog...

[2014-05-08 16:40] halfdan commented on #44
Did you restart Ghost? Link? There's not enough information to help you here.

[2014-05-08 16:41] HoddzDJ commented on #44
@halfdan I did restart Ghost, I'm running it locally to start with to see if I can get it going.

[2014-05-08 16:42] HoddzDJ commented on #44
@halfdan I'm running a custom theme, if that makes any difference?

[2014-05-08 16:44] HoddzDJ commented on #44
@halfdan Surely the `{{#with post}}` code block should be in `post.hbs` and not `default.hbs`?

[2014-05-08 16:51] colinmacdonald commented on #44
@hoddzDJ Have you tried the `window.ouija_article_content` option? https://github.com/goinstant/ouija#how-to-configure-ouija

The default selector is `.post-content`. If your theme does not have this class you will need to tell Ouija which element is your post content's parent.

If I had access to your theme I could debug it further.

[2014-05-08 16:53] HoddzDJ commented on #44
@colinmacdonald My theme is just an edited version of Casper. I will upload a copy of it shortly. I have however decided to try on my live site: http://hoddzdj.com

[2014-05-08 16:55] colinmacdonald commented on #44
`GET http://hoddzdj.com/assets/css/ouija.css/?v=030ec8a99f 404 (Not Found)`
`GET http://hoddzdj.com/assets/js/ouija.js/?v=030ec8a99f 404 (Not Found)`

Did you build ouija after cloning it?

[2014-05-08 16:56] HoddzDJ commented on #44
@colinmacdonald Was told I didn't need to clone it :-/

[2014-05-08 16:57] halfdan commented on #44
Well you don't, but you don't have the correct script tags in there.

[2014-05-08 16:58] HoddzDJ commented on #44
@halfdan Cheers...

[2014-05-08 17:00] HoddzDJ commented on #44
@colinmacdonald @halfdan Didn't realise the quick start and developer had different codes in...

[2014-05-08 17:01] colinmacdonald commented on #44
No worries! Are you up and running now?

[2014-05-08 17:01] HoddzDJ commented on #44
@colinmacdonald I think I am, yeah. Just need to remove Disqus.

[2014-05-08 17:02] #44 closed, assigned to nobody

[2014-05-08 17:16] halfdan opened #46 "Ouija shows commenting form when loading"
Ouija seems to show the commenting form when clicking on the loading symbol before it has finished loading:

![ouija-loading](https://cloud.githubusercontent.com/assets/176576/2918812/69d2c338-d6d4-11e3-81f7-cf41f7ee276e.gif)

**Note:** Bug shows at the end - had to CMD+R/clear content on that to make it show up.

[2014-05-08 17:40] ntassone commented on #5
Fixed with #32

[2014-05-08 17:40] #5 closed, assigned to nobody

[2014-05-08 17:41] ntassone commented on #23
Going to close this, feel free to reopen if you're still having issues @jonwgeorge

[2014-05-08 17:41] #23 closed, assigned to nobody

[2014-05-08 18:00] ntassone opened #47 "Add colophon"
Show a "Powered by [Ouija](http://ouija.io)" message at the bottom of the Ouija drawer.

[2014-05-08 18:39] colinmacdonald commented on #46
Solution to this is to use the promise that gets resolved here: https://github.com/goinstant/ouija/blob/master/app/post.js#L57 in the `handleControlsClick` listener here: https://github.com/goinstant/ouija/blob/master/app/ouija.jsx#L130

It would delay opening the conversation block until the comments have been fetched.

[2014-05-08 18:49] ntassone commented on #47
![image](https://cloud.githubusercontent.com/assets/1572205/2919985/684bd04c-d6e1-11e3-9f6f-7b2eb556a87e.png)

[2014-05-08 18:49] halfdan commented on #47
Looks great! (Ouija should prevent empty comments though)

[2014-05-08 18:50] ntassone commented on #47
@halfdan Thanks! It does, those are just leftover from previous testing.

[2014-05-09 08:14] GoOz opened #48 "The all Ouija block is selected after hitting submit button"
Gifs speaks the truth.

![](https://dl.dropboxusercontent.com/u/6801063/ouija.mov.gif)

See what i mean?

I need to focus elsewhere which closes Ouija or focus in the textarea to unselect.

[2014-05-09 08:17] GoOz opened #49 "Ability to submit comments with keyboard only"
I know it's good to keep the return available but is it possible to add a cmd+enter command that could let the user submit without using the mouse? As Github's comments do.

[2014-05-09 12:39] colinmacdonald commented on #48
This bug doesn't exist in Chrome, only firefox and safari.

[2014-05-09 12:40] colinmacdonald commented on #49
Agreed.

[2014-05-09 12:43] GoOz commented on #48
Yeah sorry, forgot to specify.

[2014-05-09 14:27] halfdan opened #50 "Lint code"
It would be great to lint the code and comply to a set of coding standards. I’ll open a PR for this in a moment.

[2014-05-09 18:54] halfdan opened #52 "Convert React code to bare JS code"
This is required to make linting code with JSHint a bit easier (#50). All React-style code that is currently converted with reactify should be converted to standard JS.

[2014-05-09 21:36] halfdan commented on #39
I’d like to expand on this idea:

I haven’t delved into the GoInstant API yet, but would it be possible to instead of configuring OAuth providers in Ouija to fetch activated providers for the application? This way we could simply show the login options that are activated for the GoInstant application.

If an API endpoint for checking for activated identity providers doesn’t yet exist: Feature requ

[2014-05-10 00:08] halfdan commented on #40
I think exposing that through an API would make the most sense, but that shouldn’t be part of core.

[2014-05-10 10:46] halfdan opened #55 "Introduce functional tests"
We should add functional tests using PhantomJS/CasperJS. This would most likely require a dummy account for GoInstant in order to test loading/posting comments.

An alternative would be to stub all API requests/responses. This would include faking authentication with all supported identity providers.

[2014-05-10 23:52] #50 closed, assigned to nobody

[2014-05-10 23:52] #52 closed, assigned to nobody

[2014-05-10 23:54] colinmacdonald commented on #55
100% yes.

Best bet is to just stub/mock the goinstant API for unit tests. We have done this in various other projects:

https://github.com/goinstant/goangular
https://github.com/goinstant/user-list
https://github.com/goinstant/webrtc

[2014-05-11 00:02] halfdan commented on #20
I think this is solved already: https://github.com/goinstant/ouija/blob/master/gulpfile.js#L12-L16 (in fa8345c7a)

[2014-05-11 00:08] halfdan commented on #49
Possibly relevant: https://groups.google.com/forum/#!topic/reactjs/q0yJ5CrjHZQ

[2014-05-11 00:15] colinmacdonald commented on #39
Yeah, it's totally possible to auto-configure the OAuth provider(s) as part of the setup.

I guess I'm wondering when this configuration would happen. Would it be part of the manual install or can it happen when the ghost blog is restarted?

[2014-05-11 00:17] halfdan commented on #39
Hm. I meant this to be done on the fly - so when Ouija is already running on the website. Before showing the login window (currently only Twitter), fetch the activated identity providers for the configured GoInstant app. This way a user wanting to activate a new login option on his blog would only need to activate the provider on the GoInstant side.

[2014-05-11 00:36] colinmacdonald commented on #39
So we would have to go and fetch the oauth providers each time a blog post loads and it would have to be done all server side.

[2014-05-11 00:37] halfdan commented on #39
We could use localstorage/cookies to store oauth providers after an initial fetch.

[2014-05-11 00:38] colinmacdonald commented on #39
If they did change after the initial fetch it could break, that case should be rare though.

[2014-05-11 00:42] halfdan commented on #39
We could also make this an option:

`ouija_oauth_provider` with settings: `auto` (as described, auto-discover) or an array of oauth providers to use: `['twitter', 'github']`. This way people that don’t want the additional roundtrip can opt to just specify the providers in the config.

Localstorage/cookie would have a relatively short expiry (e.g. 1 hour) - so changing the settings wouldn’t have a

[2014-05-11 00:44] colinmacdonald commented on #39
yeah, i think that probably makes the most sense. Default to `auto`, let them override it.

[2014-05-11 12:56] halfdan opened #56 "[Discussion] Provide API Events"
I would like to propose API events for giving users the ability to subscribe to certain events (like authenticating or commenting). Right now I can think of two events that could be used for tracking (with GA/GoSquared/Piwik/etc.):

[code]

[code]

(Examples use the [segment.io](https://segment.io/docs/tracking-api/track/) API). This would, together with passing the configuration as an object, req

[2014-05-12 17:47] #49 closed, assigned to nobody

[2014-05-12 18:16] colinmacdonald commented on #56
Yeah, I'm a big fan of exposing stuff like this. Simple to implement and super useful for users trying to do the stuff like you mentioned. Only problem is it's a breaking change.

Maybe this should wait until we have to make other breaking changes (ghost apps api)?

[2014-05-13 10:31] GoOz opened #60 "Comments Database location"
Guys, i wanted to clean up a little bit my tests and delete some comments i did but i couldn't find where those comments are stored.
Could you point me the location please?

[2014-05-13 13:13] colinmacdonald commented on #60
You can do this from the Data Inspector in the GoInstant dashboard: https://goinstant.com/dashboard

Find the app, hover over the cog wheel, then click Data Inspector. You will have access to all the comments for a blog post room by room.

For example, below you can see I'm in room `post_1` and my comments are organized by section. If I click the trash can next to `id-145b8c5c3fd-000` I will remov

[2014-05-13 15:12] GoOz commented on #60
Oh ok. So basically, there's no local database like the Ghost one. Is this temporary or do you plan to keep it that way ?
To be honest, the main reason i'm not convinced by Disqus and such is because the comments are not stored on my own server (and also because you need to create an account to comment)

[2014-05-13 15:51] colinmacdonald commented on #60
Ouija will continue to use GoInstant as its data store.

Even though the comments are stored in GoInstant and not your local database, you still have complete control over that data. This is one of the fundamental differences between Ouija and a service like Disqus.

[2014-05-13 16:01] HoddzDJ opened #61 "Mobile Comments"
Hey guys,

Ghost is majorly a mobile blog. With this in mind, I was wondering if there were any plans for adding comments via mobile/tablet? I appreciate it could be difficult what with touch-screens being picked up differently than a mouse hover.

It's the only thing stopping this being pretty darn amazing!

[2014-05-13 16:12] halfdan commented on #61
@HoddzDJ Yes - this is planned. See https://github.com/goinstant/ouija/issues/8

Please use issue search before posting a new issue.

[2014-05-13 16:15] HoddzDJ commented on #61
@halfdan I did a search of the closed issues, didn't find anything. Sorry.

[2014-05-13 16:15] #61 closed, assigned to nobody

[2014-05-13 17:14] GoOz commented on #60
I just don't like to depend on some other platform… i hope you can understand why i'm not so thrilled about that.
But i'll give a try. I'll be damned before i use FB, G+, Disqus anyway :D
Could you just tell me then if you plan on adding a comment list/moderation page directly in ghost admin if the next Ghost releases allow it ? Because that'll be great, not that GoInstant's Data Inspector is not

[2014-05-13 17:40] colinmacdonald commented on #60
Comment moderation is on our roadmap, but we don't have a timeline yet. This will happen once the Ghost apps API is ready. See the Q2 section of Ghost's roadmap [here](https://github.com/tryghost/Ghost/wiki/Roadmap#est-q2-2014)

[2014-05-13 18:32] #47 closed, assigned to ntassone

[2014-05-13 20:29] #48 closed, assigned to nobody

[2014-05-13 20:40] colinmacdonald opened #62 "Comment block closes when first comment is submitted"

[2014-05-13 21:01] colinmacdonald commented on #62
Introduced with the "has comments" feature.

https://github.com/goinstant/ouija/blob/master/app/components/conversation.js#L55 will render the conversation block with the classes shown here: https://github.com/goinstant/ouija/blob/master/app/components/conversation.js#L60, which removes the ouija-active class when the has-comments class is added.

Should only be handling component state only insid

[2014-05-14 09:21] GoOz commented on #60
Yeah that's what i thought too. :) Thanks for the answers.

[2014-05-14 09:21] #60 closed, assigned to nobody

[2014-05-15 16:36] #62 closed, assigned to nobody

[2014-05-15 20:05] GoOz opened #64 "Lack of indication to scroll for more comments to see"
When you have a lot of comments, you need to scroll down to see the hidden ones because of the Ouija's fixed height.
That's fine but it needs to have some indication because the scrollbar is not visible by default (OSX's browser only i guess).
See.
![](https://dl.dropboxusercontent.com/u/6801063/ouija_comments.mov.gif)

[2014-05-16 12:43] colinmacdonald commented on #64
Agreed.

[2014-05-16 12:44] colinmacdonald commented on #55
http://facebook.github.io/jest/

[2014-05-16 16:34] ntassone commented on #64
+1. I've been experimenting with some options for this. Tricky part is making sure the overflow indicator can work on all kinds of themes.

[2014-05-16 18:40] friksa commented on #64
+1

Maybe a vertical fade when there is an overflow.  This is an example of something that fades horizontally.  http://jsfiddle.net/Ff9JL/

[2014-05-16 18:46] ntassone commented on #64
@friksa Thanks for the link, this is something I've considered before for this issue. The problem with using a gradient is that it won't adapt to darker themes. We can use a scss variable to make it easier for those using the custom dev setup but the quick plug and play on darker themes will have a glaring white gradient.

The webkit mask on the other hand is pretty awesome, though obviously not v

[2014-05-17 07:40] GoOz commented on #64
A SVG mask works pretty well and is well supported too… if you forget about IE :)
[See an example here](http://tutorials.jenkov.com/svg/mask.html)

[2014-05-17 08:04] friksa commented on #64
Since you have scrollbars in IE, it should be ok.  The real issue is on the Mac where scroll bars are invisible until you actually scroll.

[2014-05-20 14:50] mattcreager commented on #56
Must it be a breaking change?

We could drop instantiation into the snippet & return an instance of ouija (with the proposed emitter).

[2014-05-20 15:12] colinmacdonald commented on #56
To make the snippet change non-breaking for current users we can add an option to for automatically instantiate Ouija (default: true as it works currently) or false to allow you to do it yourself.

[2014-05-23 17:24] mattcreager commented on #55
I've [begun to pull together the 'sunny day' functional tests in PR #65](https://github.com/goinstant/ouija/pull/65).

I'm experimenting with [Dalek](http://dalekjs.com/); it's too early to say whether we'll be able to carry it into production, but it provides a shiny Phantom abstraction, and allows us to leverage Sauce Labs.

As @halfdan suggested above, I'm using a 'dummy' GI account and I'm hop

[2014-05-23 17:35] colinmacdonald commented on #55
The test config should probably be in `config/`, maybe a standalone `tests.json`?

[2014-05-23 17:38] mattcreager commented on #55
Should we mirror Ghost by renaming 'app' to 'core' and moving the 'test' directory into it too?

[2014-06-13 00:04] ghost opened #67 "Installation doesn't work on all themes?"
I've gone through the quick install on my Ghost blog and it doesn't seem to be working. I even went as far as creating a new GoInstant app but it still refuses to appear. I'm using the Ghostium theme which has Disqus built in, wondering if that is causing a conflict? Below is the contents of my default.hbs

http://pastebin.com/Xy428tW0

Any help would be grealy appreciated!

[2014-06-13 00:14] mattcreager commented on #67
Is the blog live anywhere?  Oh Ghostium is OS, I'll tinker with this in the morning, thanks!

[2014-06-13 00:15] ghost commented on #67
Sorry the blog is here: www.beeped.org

[2014-06-13 00:48] mattcreager commented on #67
That helped, Disqus is throwing an error:
`GET http://.disqus.com/embed.js net::ERR_NAME_NOT_RESOLVED`

Which is being added to the DOM in this block, starting on line 92:

[code]

Because  `GHOSTIUM.haveDisqus` is being evaluated as true here, on line 54:

[code]

If you view-source on beeped.org you can see that `disqus_shortname` is set to an empty string on line 53. So it is neither undefined,

[2014-06-13 13:36] ghost commented on #67
I removed the Disqus references from default.hbs as well as from config.hbs but it still doesn't appear to be loading. Thoughts?

[2014-06-13 16:51] mattcreager commented on #67
Ah, ok  easy fix @8bitogre:

Ouija provides some custom configuration options, you need to add one for the Ghostium theme.

[code]

[2014-06-13 17:28] ghost commented on #67
That worked. Thank you!

[2014-06-13 17:28] #67 closed, assigned to nobody

[2014-06-13 19:25] mattcreager commented on #67
@8bitogre I suspect you might run into issues later with the async post loads.  Let's tackle that in another issue :)

[2014-06-24 18:06] Kikobeats commented on #67
@mattcreager  Same problem with other custom theme here. In local with Casper works fine, but not with my theme (Uno)

In Uno `ouija_article_content` is like Ghost. Why don't work? :-(

the blog: www.kikobeats.com

[2014-06-24 18:45] colinmacdonald commented on #67
The Uno theme is slightly different from Casper in where it defines the `section` for the post's content. The selector in Uno is `section.post` rather than the default `section.post-content`. Try adding this line in `default.hbs` just under `window.ouija_identifier = {{id}};`:

[code]

[2014-06-24 20:01] Kikobeats commented on #67
Oh, thanks man. Maybe the problem is that I'm very newbie with Ghost :-|

Bonus question, I'm setting up login with Twitter and Github, but Github don't appear...

You can see in live now!

[2014-06-24 20:03] colinmacdonald commented on #67
We don't currently support any other auth providers, only Twitter. There is an issue open for this: #39.

[2014-06-24 20:04] Kikobeats commented on #67
ok, I supposed. Thanks for all, I want try to help :-)

[2014-06-24 20:31] ntassone commented on #67
@Kikobeats some themes will require a little bit of custom css to make ouija fully compatible. In the case of the Uno theme you'll have to add a rule that changes the value of the offset that pushes the article to make room for ouija.

Try adding this to your CSS, it will make the post content move farther and not cut off ouija on the right side of the screen:

[code]

I edited your site in the in

[2014-06-24 21:05] Kikobeats commented on #67
@ntassone

Thanks for the tip. Maybe for my theme layout can be better `right: 0px;`. I'm going to try different things.

I need to improve to be more readable in my theme :-)

[2014-06-26 18:48] ntassone opened #68 "node-sass error"
The sass gulp task debug option `sourceComments: 'map'` causes a fail when running `gulp develop` when trying to install ouija.

[code]

We should change from `map` to `none` to fix the issue.

[2014-06-26 18:53] #68 closed, assigned to ntassone

[2014-07-21 14:02] mattcreager opened #71 "Ouija self hosted - The Independence Day Issue"
![image](https://cloud.githubusercontent.com/assets/1623992/3644353/7117f042-10df-11e4-880c-dd00158208d0.png)

[2014-08-06 19:51] Graloth opened #72 "Will Ouija continue to be developed and supported after closure of GoInstant?"
Ouija requires GoInstant to function as far as I can understand, but GoInstant will discontinue on August the 31st, Ouija is a project from GoInstant.

Will Ouija continue to get supported and developed after GoInstant is closed?
Would like to know about this, as it is the main reason why I am not switching to it yet, people are also asking about it on the Ghost forums

[2014-08-06 21:24] mattcreager commented on #72
Yes!  I have no intention of abandoning Ouija, this just increases the urgency of #71!

[2014-08-12 07:55] Graloth commented on #71
Might want to state more clearly what this issue is about, I had no idea until you linked to it in my previous issue about GoInstant's closure.

[2014-08-16 20:15] jonwgeorge commented on #71
I don't know if you guys have used Firebase before, I've used it once it a previous project. I could fork Ouija and see if I can get it running in firebase.. If not, here's the link: https://www.firebase.com

[2014-09-05 19:08] mattcreager commented on #72
Probably worth a read: https://ghost.org/forum/plugins/14667-author-annotations-plugin-much-needed-if-not-already-existent/9/

[2014-09-15 15:44] klamping commented on #71
I second use of Firebase for this. I've used it in the past and it's pretty nice.

[2014-09-16 06:19] ahdinosaur commented on #71
-1 for Firebase, as it defeats the possibility of Ouija being self-hosted, which would be really really awesome.

[2014-09-16 08:36] halfdan commented on #71
Hi everyone,
the plan is to have the backend configurable. There will be an API specification on how Ouija will handle data. This will make it possible to have different server backend, including firebase.

[2014-09-16 17:57] halfdan commented on #72
The repository has now moved to its own organisation on Github. I'm going to close this issue as development can now continue without GoInstant.

[2014-09-16 17:57] #72 closed, assigned to nobody

[2014-09-16 18:15] halfdan opened #73 "Remove dist/ folder"
The `dist/` folder shouldn't be part of the repo.

[2014-09-16 18:16] #73 closed, assigned to nobody

[2014-09-16 19:43] halfdan opened #74 "[Epic] Future of Ouija"
Ouija previously relied on GoInstant to store all data and handle authentication with Twitter. With GoInstant discontinued we need a new server-side backend. This issue serves as a roadmap to build a new backend and make Ouija compatible with it.

I will raise new issues for each of these to work on and discuss in the next few days.
## Frontend
- [ ] Connect Ouija to a new backend
- [ ] Define act

[2014-09-16 20:13] brandonwamboldt commented on #74
:+1: on this approach!

[2014-09-17 12:04] halfdan opened #75 "Move from npm to bower"
Ouija is a 100% client-side library. Instead of using Browserify to make it browser compatible we should deploy it via bower and make it possible to use it without browserify. It should be fairly easy to use ES6 modules and an es6-transpiler to keep a sane module structure but make it compatible with browsers.

[2014-10-01 10:19] franklouwers commented on #71
Any updates on how to run it selfhosted?

[2014-10-01 13:48] mattcreager commented on #71
@franklouwers soon, I'm in the process of picking my life up and shipping it to SF, that's been all consuming!  What's I settle in, this is next up :)

[2014-11-15 18:11] macbroadcast commented on #71
Hope your shipping to SF went fine, does soon mean before christmas ? :dancers:

[2014-12-04 14:45] HLFH commented on #74
+42

[2015-01-06 21:00] tanookiben commented on #74
Would Firebase be a sufficient substitute for GoInstant?

[2015-02-23 05:01] macbroadcast commented on #74
Nope @tanookiben the future is here http://www.let.de :heart_eyes:

[2015-04-09 15:49] laughingman-hass commented on #71
Hi just wondering, is there anything that can be used in the mean time for a new deployment? I've never used ouija before, or goinstant.

[2015-04-09 15:57] macbroadcast commented on #71
ouija is just a ghost intergration with some additional realtime features, sure you can use it without goinstant, pay for it on ghost.org or download and install it by yourself https://github.com/TryGhost/Ghost  cheers

[2015-04-09 16:03] laughingman-hass commented on #71
@macbroadcast I am already using ghost (its about a day old) http://hass-isnull.io/, was just wondering if ouija can be used without goinstant on ghost as a commenting solution.

[2015-04-09 16:08] macbroadcast commented on #71
@hass-isnull only if you help me rebuild the API :heart_eyes:

[2015-04-09 16:27] macbroadcast commented on #71
@hass-isnull Why not simply integrate disqus, when you just want a commenting function ? :stuck_out_tongue_closed_eyes: https://help.disqus.com/customer/portal/articles/1454924-ghost-installation-instructions

[2015-04-09 19:16] laughingman-hass commented on #71
@macbroadcast I can try to help :smile:  I work alot more on Ruby and Java but I have time....
for now :wink:

On Thu, Apr 9, 2015 at 5:08 PM, macbroadcast notifications@github.com
wrote:

[2015-04-09 19:21] laughingman-hass commented on #71
@macbroadcast I like the idea ouija brings with inline commenting. A lot of people have told me stay from Disqus for one reason or another
What else can ouija do other than commenting?

[2015-05-15 10:34] rk-panchal commented on #44
hello
 plz give me any solution
Warning: Permanently added the RSA host key for IP address '192.30.252.128' to the list of known hosts.
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2015-05-15 10:38] javorszky commented on #44
Hi @rk-panchal,

There seems to be an issue with how you set up git on your computer. Follow these guides: https://help.github.com/articles/generating-ssh-keys/

[2015-05-15 10:42] rk-panchal commented on #44
Hi @javorszky
 i want to deploy a application on heroku .  i get url app after heroku create but when i run config command there is one issue , i found there is different url so that i am not able to run.....git heroku master.

[2015-05-15 10:43] javorszky commented on #44
@rk-panchal, you need to take that up with heroku support. https://devcenter.heroku.com/articles/keys

[2015-05-15 10:44] rk-panchal commented on #44
@javorszky
 thnks dear...i will try

[2015-05-15 11:16] macbroadcast commented on #44
git clone https://github.com/ouija-io/ouija.git works perfect for me

[2015-05-16 09:16] fiddur commented on #71
When ouija didn't work, and not wanting to use Disqus (with ads and whatnot), I wrote a new free commenting system.  It's very rought still, but you can try it out: http://fredrik.liljegren.org/introducing-some-comments/

[2015-05-16 10:56] HLFH commented on #71
It seems that NodeBB for Ghost is the best stable solution at the moment. https://github.com/psychobunny/nodebb-plugin-blog-comments

[2015-05-20 08:54] rk-panchal commented on #44
@hi
i want to go for facebook authentication....but i find email......error.
plz help me....

On Fri, May 15, 2015 at 4:46 PM, Marc Manthey notifications@github.com
wrote:

##

Thanks & Regards
Ravinder Kumar <panchal17101989@gmail.com <aniltimt@gmail.com>>
Mobile No- 07357981156

[2015-06-12 08:42] ghost commented on #44
@halfdan  thanks ,ur solution is working for me....

[2015-09-16 03:42] RobRoseKnows commented on #74
Is this project dead? I'd love to help in whatever way I could.

[2015-09-16 15:15] HLFH commented on #74
@RobRoseKnows If you want comments on Ghost, you have to use https://github.com/fiddur/some-comments/ or Isso http://postblue.info/isso-un-serveur-de-commentaires-similaire-a-disqus/

YES, this project is completely dead.

[2015-09-16 20:46] macbroadcast commented on #74
@RobRoseKnows ....and if you want an opensource backend as a service head over to http://kuzzle.io or http:/telepat.io  :smile:

[2015-09-24 18:12] mattcreager commented on #74
@RobRoseKnows This project - _was_ dead, it's been revived, I was afk - mostly due to relocating to the US (from Canada) but also because I hoped the Ghost App's API would arrive.

I'm working on the Ouija Server w. HAPI & Nes, I plan on just getting everything functional again - as quickly as possible, then we can make it pretty :)

[2015-09-25 03:38] #71 closed

[2015-09-25 03:39] #4 closed

[2015-09-25 03:39] #8 closed

[2015-09-25 03:39] #15 closed

[2015-09-25 03:39] #20 closed

[2015-09-25 03:39] #36 closed

[2015-09-25 03:39] #39 closed

[2015-09-25 03:39] #40 closed

[2015-09-25 03:39] #46 closed

[2015-09-25 03:39] #55 closed

[2015-09-25 03:39] #64 closed

[2015-09-25 03:39] #75 closed

[2015-09-25 03:40] #56 closed

[2015-10-20 12:47] Vlahn commented on #74
@mattcreager it's fantastic to hear that Ouija is being actively developed again. I'm just getting started with Ghost myself and have been working (unsuccessfully) on integrating other side-commenting systems. Ouija seems to be exactly what I was looking for, once it has a functional back-end again.

[2015-10-20 12:53] HLFH commented on #74
@mattcreager Hi and thank you!! Is there a new repo for Ouija server w. HAPI & Nes?

[2022-10-13 20:33] #74 closed